.questão-container {
    max-width: 600px;
    margin: 0 auto;
}
.questão {
    margin-bottom: 20px;
    background-color: green;
    color: white;
    padding: 15px;
    border-color: black;
    border-radius: 15px;
}
.options {
    list-style: none;
    padding: 0;
}
.options li {
    margin-bottom: 10px;
}
.option-label {
    font-size: 30px;
    display: block;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.option-label:hover {
    border-color: green;
    background-color: #f0f0f0;
}
.submit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}
.submit-button:hover {
    background-color: greenyellow;
}
input[type="radio"]:checked + .option-label {
    border-color: yellowgreen;
    background-color: yellowgreen;
}
input[type="radio"] {
    display: none;
}