.header {
    background-color: green;
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.item {
    flex: 1;
    color: white;
    background-color: red;
    font-size: 50px;
    cursor: pointer;
}

.item:hover{
    background-color: rgb(170, 21, 21);
}

.item2 {
    flex: 1;
    color: white;
    background-color: rgb(13, 163, 13);
    font-size: 50px;
    cursor: pointer;
}

.item2:hover{
    background-color: green;
}